[Unit]
Description=Kbd custom keyboard remapping service
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/kbd
Restart=on-failure
User=root

[Install]
WantedBy=multi-user.target
